* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header header"
    "main   main   main   main"
    "footer footer footer footer";
}

header,
footer,
main,
.sidebar {
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 10vh;
  background-color: red;
  grid-area: header;
}

.sidebar {
  height: 80vh;
  background-color: purple;
  display: none;
  grid-area: sidebar;
}

main {
  height: 80vh;
  background-color: blue;
  grid-area: main;
}

footer {
  background-color: green;
  height: 10vh;
  grid-area: footer;
}

@media (min-width: 600px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-areas:
      "header header header header"
      "sidebar   main   main   main"
      "footer footer footer footer";
  }

  .sidebar {
    display: inherit;
  }
}
