/* CSS Resets for entire page */

/* CSS Variables */
:root {
  --primary: rgb(51, 179, 170);
  --primary-hover: rgba(51, 179, 170, 0.762);
  --background-dark: #0e0e0e;
  --background-medium: rgba(24, 22, 22, 0.847);
  --background-light: rgba(255, 255, 255, 0.158);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #0e0e0e;
  font-size: 14px;
  color: white;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.section {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  border-top: 0.01px solid white;
  border-bottom: 0.01px solid white;
}

/* 
------------
***HEADER***
------------
*/

.scroll-background {
  background-color: var(--background-medium);
}

/* NAV */

header > nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 100;
}

header > nav > .logo,
header > nav > ul {
  letter-spacing: 4px;
}

header > nav > .logo {
  position: absolute;
  left: 40px;
  font-size: 50px;
}

header > nav > .logo > a > span {
  color: var(--primary);
}

header > nav > ul {
  height: 100%;
  list-style: none;
  width: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

header > nav > ul > li {
  min-width: 130px;
  min-height: 40px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

header > nav > ul > li:hover {
  background-color: var(--primary);
}

header > nav > ul > li.active {
  background-color: var(--primary);
}

/* Profile */

header > .profile {
  margin-top: 10vh;
  height: 80vh;
}

header > .profile > .profile-main {
  height: 650px;
  width: 1280px;
  background-color: var(--background-medium);
}

header > .profile > .profile-main > .profile-desc,
.profile > .profile-main > .profile-img {
  height: 90%;
  padding: 0 5%;
}

header > .profile > .profile-main > .profile-desc {
  width: 60%;
  align-items: flex-start;
}

header > .profile > .profile-main > .profile-desc > .greeting {
  font-size: 5rem;
}

header > .profile > .profile-main > .profile-desc > .greeting > span {
  color: var(--primary);
}

header > .profile > .profile-main > .profile-desc > .info {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

header > .profile > .profile-main > .profile-desc > button {
  border: none;
  margin-top: 40px;
  background-color: var(--primary);
  height: 48px;
  width: 200px;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

header > .profile > .profile-main > .profile-desc > button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

header > .profile > .profile-main > .profile-img {
  width: 40%;
}

header > .profile > .profile-main > .profile-img > .bg-container {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  border: 10px solid var(--background-light);
}

header > .profile > .profile-main > .profile-img > .img-container {
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  margin-bottom: 50px;
  margin-left: 50px;
}

header > .profile > .profile-main > .profile-img > .img-container > img {
  height: 100%;
  width: 100%;
}

/* 
----------
***MAIN***
----------
*/

/* PORTFOLIO */

/* EXPERIENCE */

/* CONTACT */

/* 
------------
***FOOTER***
------------
*/

footer {
  height: 10vh;
}
