/* CSS Resets for entire page */

/* CSS Variables */
:root {
  --primary: rgb(51, 179, 170);
  --primary-hover: rgba(51, 179, 170, 0.762);
  --primary-light: rgba(51, 179, 170, 0.5);
  --background-dark: #0e0e0e;
  --background-medium: rgba(24, 22, 22, 0.847);
  --background-light: rgba(255, 255, 255, 0.158);
  --box-shadow: rgba(0, 0, 0, 0.2);
  --white: rgba(236, 235, 235, 0.953);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}

input,
textarea {
  all: unset;
}

body {
  background-color: var(--background-dark);
  font-size: 14px;
  color: var(--white);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

section {
  padding: 6% 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
}

section > .section-main {
  min-height: 700px;
  width: 1280px;
  border-radius: 12px;
  background-color: var(--background-medium);
}

/* 
------------
***HEADER***
------------
*/

.scroll-background {
  background-color: var(--background-medium);
}

/* NAV */

header > nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  width: 100%;
  z-index: 100;
}

header > nav > .logo,
header > nav > ul {
  letter-spacing: 4px;
}

header > nav > .logo {
  position: absolute;
  left: 40px;
  font-size: 50px;
}

header > nav > .logo > a > span {
  color: var(--primary);
}

header > nav > ul {
  height: 100%;
  list-style: none;
  width: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

header > nav > ul > li {
  min-width: 150px;
  min-height: 40px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

header > nav > ul > li:hover {
  background-color: var(--primary);
}

header > nav > ul > li > a {
  height: 100%;
  width: 100%;
}

header > nav > ul > li > a.active {
  background-color: var(--primary);
}

/* Mobile Nav */
header > .nav-mobile > {
}

/* 
----------
***MAIN***
----------
*/

/* PROFILE SECTION*/
section.profile > .section-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.profile > .section-main > .profile-desc,
section.profile > .section-main > .profile-img {
  height: 90%;
  padding: 0 5%;
}

section.profile > .section-main > .profile-desc {
  width: 60%;
  align-items: flex-start;
}

section.profile > .section-main > .profile-desc > .greeting {
  font-size: 5rem;
}

section.profile > .section-main > .profile-desc > .greeting > span {
  color: var(--primary);
}

section.profile > .section-main > .profile-desc > .info {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

section.profile > .section-main > .profile-desc > button {
  border: none;
  margin-top: 40px;
  background-color: var(--primary);
  height: 48px;
  width: 200px;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

section.profile > .section-main > .profile-desc > button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

section.profile > .section-main > .profile-img {
  width: 40%;
}

section.profile > .section-main > .profile-img > .bg-container {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  border: 10px solid var(--background-light);
}

section.profile > .section-main > .profile-img > .img-container {
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  margin-bottom: 35px;
  margin-left: 47px;
}

section.profile > .section-main > .profile-img > .img-container > img {
  height: 100%;
  width: 100%;
}

/* PORTFOLIO */
section.portfolio > .section-main {
  overflow-y: auto;
}

section.portfolio > .section-main > .grid-container {
  height: 100%;
  width: 100%;
  padding: 0 2%;
}

section.portfolio > .section-main > .grid-container > .row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

section.portfolio > .section-main > .grid-container > .row > .col {
  position: relative;
  width: 30%;
  height: 300px;
  max-width: 400px;
  border-radius: 12px;
  border: 0.1px solid var(--primary);
  margin: 20px 0px;
  overflow: hidden;
}

section.portfolio > .section-main > .grid-container > .row > .col > .card {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 var(--box-shadow);
  padding: 16px;
  text-align: center;
  background-color: var(--background-light);
  border-radius: 12px;
}

section.portfolio
  > .section-main
  > .grid-container
  > .row
  > .col
  > .card
  > img {
  height: 100%;
  width: 100%;
}

section.portfolio > .section-main > .grid-container > .row > .col > .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--primary-light);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
  border-radius: 12px;
}

section.portfolio
  > .section-main
  > .grid-container
  > .row
  > .col
  > .overlay
  > .btn-group {
  height: 50%;
  width: 50%;
}

section.portfolio
  > .section-main
  > .grid-container
  > .row
  > .col
  > .overlay
  > .btn-group
  > a
  > button {
  border: none;
  background-color: var(--white);
  height: 30px;
  width: 80px;
  border-radius: 12px;
  font-weight: 900;
  color: var(--background-medium);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

section.portfolio
  > .section-main
  > .grid-container
  > .row
  > .col
  > .overlay
  > .btn-group
  > a
  > button:hover {
  cursor: pointer;
  background-color: var(--background-medium);
  color: var(--white);
}

section.portfolio
  > .section-main
  > .grid-container
  > .row
  > .col:hover
  .overlay {
  bottom: 0;
  height: 100%;
}

/* EXPERIENCE SECTION*/

/* /* SKILLS: example url -->  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_skill_bar*/
section.experience > .section-main > .skills,
section.experience > .section-main > .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

section.experience > .section-main > .skills {
  margin-top: 20px;
  width: 100%;
}

section.experience > .section-main > .skills > .skills-container {
  width: 100%;
  background-color: transparent;
}

section.experience > .section-main > .skills > .skills-container > p {
  margin-top: 10px;
}

section.experience > .section-main > .skills > .skills-container > .skill-bar {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  border-radius: 48px;
  background-color: var(--background-light);
}

section.experience
  > .section-main
  > .skills
  > .skills-container
  > .skill-bar
  > .fill {
  height: 100%;
  border-radius: 48px;
  padding: 7px;
  background-color: var(--primary);
  text-align: right;
}

section.experience
  > .section-main
  > .skills
  > .skills-container
  > .skill-bar
  > .html {
  width: 95%;
}

section.experience
  > .section-main
  > .skills
  > .skills-container
  > .skill-bar
  > .css {
  width: 90%;
}

section.experience
  > .section-main
  > .skills
  > .skills-container
  > .skill-bar
  > .js {
  width: 90%;
}

section.experience
  > .section-main
  > .skills
  > .skills-container
  > .skill-bar
  > .react {
  width: 85%;
}

section.experience
  > .section-main
  > .skills
  > .skills-container
  > .skill-bar
  > .node {
  width: 85%;
}

/* TIMELINE: example url -->  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline*/
section.experience > .section-main > .timeline {
  position: relative;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* The actual timeline (the vertical ruler) */
section.experience > .section-main > .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
section.experience > .section-main > .timeline > .timeline-card {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
section.experience > .section-main > .timeline > .timeline-card::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--white);
  border: 4px solid var(--primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
section.experience > .section-main > .timeline > .left {
  left: 0;
}

/* Add arrows to the left container (pointing right) */
section.experience > .section-main > .timeline > .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--primary);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--primary);
}

/* Place the container to the left */
section.experience > .section-main > .timeline > .right {
  left: 50%;
}

/* Add arrows to the right container (pointing left) */
section.experience > .section-main > .timeline > .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--primary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary) transparent transparent;
}

/* Fix the circle for containers on the right side */
section.experience > .section-main > .timeline > .right::after {
  left: -16px;
}

/* The actual timeline-card content */
section.experience > .section-main > .timeline > .timeline-card > .content {
  padding: 20px 30px;
  background-color: var(--background-light);
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--primary);
}

section.experience > .section-main > .timeline > .timeline-card > .content > p {
  margin-top: 5px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  section.experience > .section-main > .timeline::after {
    top: 30px;
    left: 31px;
  }

  /* Full-width containers */
  section.experience > .section-main > .timeline > .timeline-card {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  section.experience > .section-main > .timeline > .timeline-card::before {
    left: 60px;
    border: medium solid var(--primary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--primary) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  section.experience > .section-main > .timeline > .left::after,
  section.experience > .section-main > .timeline > .right::after {
    left: 15px;
  }

  /* Make sure all circles are at the same spot */
  section.experience > .section-main > .timeline > .right {
    left: 0%;
  }
}

/* CONTACT */

section.contact > .section-main > .form-container {
  height: 600px;
  width: 90%;
  border: 5px solid var(--primary);
  border-radius: 25px;
}

section.contact > .section-main > .form-container > form {
  height: 100%;
  width: 100%;
  padding: 2%;
  border-radius: 25px;
}

section.contact > .section-main > .form-container > form .input-group {
  width: 100%;
  height: 100%;
  padding: 0 1%;
}

section.contact > .section-main > .form-container > form .input-group.name,
section.contact > .section-main > .form-container > form .input-group.email {
  height: 25%;
}

section.contact > .section-main > .form-container > form .input-group.message {
  height: 40%;
}

section.contact > .section-main > .form-container > form .input-group > label {
  font-size: 1.3rem;
  font-weight: 700;
}

section.contact > .section-main > .form-container > form .input-group > input,
section.contact
  > .section-main
  > .form-container
  > form
  .input-group
  > textarea {
  background-color: var(--background-light);
  border-color: var(--primary);
  color: var(--white);
  padding: 1% 2%;
  border-radius: 30px;
  margin-top: 6px;
  min-height: 30%;
  font-size: 1.3rem;
  border: 2px solid var(--primary);
}

section.contact
  > .section-main
  > .form-container
  > form
  .input-group
  > textarea {
  height: 75%;
}

section.contact > .section-main > .form-container > form .btn-group {
  height: 10%;
  width: 100%;
  padding: 0 1%;
}

section.contact > .section-main > .form-container > form .btn-group > button {
  border: none;
  background-color: var(--primary);
  height: 40px;
  width: 150px;
  border-radius: 100px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

section.contact
  > .section-main
  > .form-container
  > form
  .btn-group
  > button:hover {
  cursor: pointer;
  background-color: var(--primary-hover);
}

/* 
------------
***FOOTER***
------------
*/

footer {
  height: 10vh;
  width: 100%;
  margin-top: 10vh;
  background-color: var(--background-medium);
  border-top: 1px solid var(--primary);
}

footer > .icons {
  width: 30%;
}

footer > .icons > a > .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  transition: all 0.3s ease;
}

footer > .icons > a > .icon:hover {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 3px solid var(--white);
  transform: scale(1.2);
  cursor: pointer;
}

footer > .icons > a > .icon > i {
  transform: scale(2.5);
  color: var(--white);
}

/* 
-------------------
***MEDIA QUERIES***
-------------------
*/

/* Tablet */

@media screen and (max-width: 912px) {
  /* Header */
  header > nav > ul {
    width: 75%;
    margin-left: 120px;
  }

  header > nav > ul > li {
    min-width: 140px;
  }

  section {
    padding: 0% 0;
    min-height: 50vh;
    width: 100%;
  }

  section > .section-main {
    margin-top: 120px;
    width: 90%;
    height: 100%;
  }

  /* Profile */
  section.profile > .section-main {
    margin-top: 12vh;
    flex-direction: column;
    justify-content: space-around;
  }

  section.profile > .section-main > .profile-desc {
    padding: 8%;
    height: 65%;
    width: 100%;
  }

  section.profile > .section-main > .profile-img {
    height: 30%;
    width: 100%;
  }

  section.profile > .section-main > .profile-desc {
    order: 2;
  }

  section.profile > .section-main > .profile-img > .bg-container {
    position: absolute;
    margin-top: 6%;
    height: 37.5%;
    width: 38%;
  }

  section.profile > .section-main > .profile-img > .img-container {
    position: relative;
    margin: 0;
    padding-top: 8%;
    width: 40%;
  }

  /* Portfolio */

  section.portfolio > .section-main > .grid-container > .row > .col {
    width: 48%;
  }

  section.portfolio
    > .section-main
    > .grid-container
    > .row
    > .col
    > .overlay
    > .btn-group {
    height: 60%;
    width: 55%;
  }

  /* Experience */
  section.experience > .section-main > .skills,
  section.experience > .section-main > .timeline {
    position: relative;
    padding: 0 2%;
    width: 100%;
    margin-top: 20px;
  }

  /* Contact */
  section {
    min-height: 75vh;
  }

  /* Footer */
  footer > .icons {
    width: 70%;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  /* Profile */
  section.profile > .section-main > .profile-desc {
    padding: 6%;
    height: 50%;
  }

  section.profile > .section-main > .profile-img {
    height: 25%;
  }

  section.profile > .section-main > .profile-desc > .greeting {
    font-size: 3rem;
  }

  /* Portfolio */
  section.portfolio > .section-main > .grid-container > .row > .col {
    width: 49%;
    height: 250px;
    max-width: 300px;
    cursor: pointer;
  }

  section.portfolio
    > .section-main
    > .grid-container
    > .row
    > .col
    > .overlay
    > .btn-group {
    width: 70%;
  }

  section.portfolio
    > .section-main
    > .grid-container
    > .row
    > .col
    > .overlay
    > .btn-group
    > a
    > button {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 600px) and (max-height: 750px) {
  section > .section-main {
    height: 80%;
  }

  section.profile > .section-main > .profile-img {
    height: 30%;
  }

  section.profile > .section-main > .profile-desc {
    padding-top: 0;
    margin-top: -25px;
    height: 35%;
  }

  section.profile > .section-main > .profile-desc > .greeting {
    font-size: 3rem;
  }

  section.profile > .section-main > .profile-desc > button {
    height: 48px;
    width: 200px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  /* Profile */
  section.profile > .section-main > .profile-desc > .greeting {
    font-size: 3rem;
  }

  section.profile > .section-main > .profile-img > .bg-container {
    position: absolute;
    margin-top: 6%;
    height: 28%;
    width: 45%;
  }

  section.profile > .section-main > .profile-img > .img-container {
    position: relative;
    margin: 0;
    padding-top: 8%;
    width: 45%;
  }

  /* Portfolio */

  section.portfolio > .section-main > .grid-container > .row {
    justify-content: center;
  }

  section.portfolio > .section-main > .grid-container > .row > .col {
    width: 100%;
    cursor: pointer;
  }
}
