.products {
  height: 92vh;
  width: 100%;
  // background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .products-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;

    ul {
      list-style: none;
      height: 20%;
      width: 85%;
      border: 1px solid lightgray;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
