header {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    height: 20%;
  }

  .add-movie-container {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
