.movie {
  width: 100%;
  min-height: 500px;
  margin-top: 15px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 1080px) {
    max-width: 500px;
    max-height: 1000px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .movie-actions {
      position: absolute;
      height: 48px;
      width: 250px;
      display: flex;
      justify-content: space-between;

      button {
        width: 45%;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.153);
        color: white;
        font-weight: 700;
        font-size: 1.2rem;

        &.edit {
          border: 1px solid aqua;

          &:hover,
          &:active,
          &:focus {
            background-color: aqua;
            outline: none;
          }
        }

        &.delete {
          border: 1px solid red;

          &:hover,
          &:active,
          &:focus {
            background-color: red;
            outline: none;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .movie-description {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .rating {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 700;
      font-size: 1.1rem;
    }

    .add-rating {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      textarea {
        width: 80%;
      }

      .rating-actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
          width: 100px;
          height: 100%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: all 0.3s ease-in-out;
          background-color: rgba(0, 0, 0, 0.153);
          color: white;
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
    }
  }
}
