/* CSS Resets for entire page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background: #0e0e0e;
  font-size: 14px;
  color: white;
}

/* 
------
HEADER
------
*/

/* nav */
header > nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > .logo,
header > nav > ul {
  letter-spacing: 2px;
}

header > nav > .logo {
  position: absolute;
  left: 40px;
  font-size: 30px;
}

header > nav > ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
}

header > nav > ul > li {
  min-width: 90px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

header > nav > ul > li.active {
  background-color: rgb(51, 179, 170);
}

header > nav > ul > li:hover {
  background-color: rgb(51, 179, 170);
}

/* profile */

.profile,
.profile > .profile-main,
.profile > .profile-main > .profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  height: 90vh;
}

.profile > .profile-main {
  height: 650px;
  width: 1280px;
  background-color: rgba(24, 22, 22, 0.847);
}

.profile > .profile-main > .profile-desc,
.profile > .profile-main > .profile-img {
  height: 90%;
  padding: 0 5%;
}

.profile > .profile-main > .profile-desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile > .profile-main > .profile-desc > .greeting {
  font-size: 5rem;
}

.profile > .profile-main > .profile-desc > .greeting > span {
  color: rgb(51, 179, 170);
}

.profile > .profile-main > .profile-desc > .info {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.profile > .profile-main > .profile-desc > button {
  border: none;
  margin-top: 40px;
  background-color: rgb(51, 179, 170);
  height: 48px;
  width: 200px;
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.profile > .profile-main > .profile-desc > button:hover {
  cursor: pointer;
  background-color: rgba(51, 179, 170, 0.762);
}

.profile > .profile-main > .profile-img {
  width: 40%;
}

.profile > .profile-main > .profile-img > .bg-container {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  border: 10px solid rgba(255, 255, 255, 0.158);
}

.profile > .profile-main > .profile-img > .img-container {
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.profile > .profile-main > .profile-img > .img-container > img {
  height: 100%;
  width: 100%;
}
