footer {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(12, 12, 12, 0.868);
  font-size: 1.1rem;
  font-weight: 700;
  background-color: rgba(0, 255, 255, 0.499);
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  span:nth-of-type(2) {
    margin-left: 12px;
  }
}
