header {
  height: 15vh;
  width: 100%;

  @media (min-width: 768px) {
    height: 12vh;
  }

  @media (min-width: 1080px) {
    height: 13vh;
  }

  @media (min-width: 1281px) {
    height: 10vh;
  }
}
