.movie-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1080px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .no-movies {
    font-weight: 700;
    font-size: 2rem;
  }
}
